/*
 @name "TCCFO-Twitch-Custom-Chat-For-OBS"
 @version 1.1.b
 @description "A custom Twitch chat tool that customizes the UI of the chat"
 @author Harley#3380
 @note " :) "
*/
html, body,
.room-selector, .room-selector__header,
.twilight-minimal-root, .tw-root--theme-light,
.popout-chat-page, .chat-room, .tw-c-background-alt,
.chat-container, .ember-chat-container {
    background: rgba(0,0,0,0)!important; 
    background-color: rgba(0,0,0,0)!important; 
}
.simplebar-content {
    
    font-size: 25px!important; 
    font-family: UD Digi Kyokasho NK-B !important; 
}
.tw-root--theme-dark .chat-line__moderation, .tw-root--theme-dark .chat-line__status, .tw-root--theme-dark .chat-line__message {
   color: #ffb6c1;
}
